*{
    margin: 0;
    padding:0;
    font-family: Arial;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #0f1111;
    color: white;
    padding:0.2rem;
    justify-content: space-evenly;
    padding:0.3rem;
    overflow: hidden;
    width: 100%;
}
/*1*/
.nav-logo{
    height: 50px;
    width: 110px;
}
.logo{
    background-image: url("./web-images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border:1.5px solid transparent;
    border-radius: 2.5px;
}
.border:hover{
    border:1.5px solid white;
    cursor: pointer;
}
/*2*/
.nav-add {
    height:50px;
    display: flex;
    align-items: center;
    padding: 4px;
}

.nav-add-icon {
    margin-right: 8px;
    color: #ccc;
}
.nav-add-items {
    display: flex;
    flex-direction: column;
}

.t1 {
    font-size: 12px;
    color: #ccc;
}

.t2 {
    font-size: 14px;
    font-weight: bold;
}

/* 3 */
.search-box{
    display: flex;
    align-items: center;
    height: 50px;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:white;
    width: 800px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #dfdede;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    cursor: pointer;
    color: rgb(97, 95, 95);
    font-size: 0.67rem;
}
.search-select:hover{
    background-color:#ccc9c9;
    color: rgb(58, 57, 57);;
}

.search-input{
    background-color: white;
    margin-left: 10px;
    width: 100%;
    font-size: 0.95rem;
    font-weight:540;
    border: none;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(224, 197, 41);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgb(38, 36, 36);
}
.search-icon:hover{
    background-color: rgb(203, 178, 38);;
}

/*4*/
.right-box{
display: flex;
gap:0.5rem;

}

.contry{
margin-left: 5px;
height: 50px;
width: 65px;
display:flex;
justify-content: center;
align-items: center;
}
.contry-flag {
    height: 25px;
    width: 22px;
}
.flag{
height: 100%;
width: 100%;
}
.contry-lang select{
    border: none;
    background-color: #0f1111;
    color:white;
    font-weight: bold;
}

/*5*/
.account-box {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 130px;
}
.account-greet{
    margin-left: -50px;
    font-size: 11px;
}
.account-select {
    color: white;
    border: none;
    background-color: #0f1111;
    font-weight:  bold;
    font-size: 13px;
}
.return-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:50px ;
    width: 76px;
}
.return-span{
    margin-left: -14px;
    font-size: 11px;
}
.order-span{
    font-size: 13px;
    font-weight: bold;
}

/*6*/
.cart-box{
    gap:7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 84px;
}
.shopping-cart{
    font-size: 1.8rem;
}

/*part-2*/
.nav-main{
    display:flex;
    align-items: center;
    padding:0px 0px 0px 11px;
    height: 39px;
    background-color: #232f3E;
    display: flex;
}

/*1*/
.nav-all{
    gap:5px;
    height: 39px;
    width: 59px;
    color: white;
}
/*2*/
.nav-fresh{
    height:39px ;
    width: 52px;
}

/*3*/
.nav-mxplayer{
    height: 39px;
    width: 81px;
}
/*4*/
.nav-sell{
    height: 39px;
    width: 41px;
}
/*5*/
.nav-amazonpay{
    height: 39px;
    width: 96px;
}
/*6*/
.nav-giftcard{
    height: 39px;
    width: 81px ;
}
/*7*/
.nav-buy{
    height: 39px;
    width: 82px;
}
/*8*/
.nav-amazonbasics{
    height: 39px;
    width: 108px;
}
/*9*/
.nav-gift-ideas{
    height: 39px;
    width: 79px;
}
/*10*/
.nav-home{
    height: 39px;
    width: 145px;
}
/*11*/
.nav-browsing{
    height: 39px;
    width: 140px;
}
.nav-browse-history{
    height:100%;
    width: 100%;
    background-color: #232f3E;
    color: white;
    border: none;
}
.nav-book{
    height: 39px;
    width: 56px;
}
.nav-customer{
    height: 39px;
    width: 128px;
}
.nav-subscribe{
    height: 39px;
    width: 130px;
}
.amazon{
    height: 39px;
    width: 132px;
}

.txt{
    color: white;
}
.boxes{
    font-weight: 530;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes:hover {
    font-size:14.2px;
}

/*Hero-secion*/

.hero-section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(./web-images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    font-size: 14px;
}
.hero-msg{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin-bottom: 25px;
}

.hero-anchor{
    color:#007185;
    text-decoration: none;
}

/*Shop-section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-bottom: 2rem;
}
.shopbox{
    height: 400px;
    width: 23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
    cursor: pointer;
}
.box-image{
    height:300px;
    background-size: cover;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}

/*footer*/
hr {
    border: none;
    border-top: 0.1px solid #50515a; /* Thin, light gray line */
    width: 100%; /* Makes it full-width */
}


.footer-top{
    height: 50px;
    background-color: white;
}
.back-to-top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    background-color: #37485c;
}
.back-to-top p{
    font-size: 13px;
    color: white;
}
a{
    text-decoration: none;
}
.back-to-top:hover{
    background-color: #46576c;
}


.footer-desc{
    height: 373px;
    background-color: #232F3E;
    overflow: hidden;
}
.footer-lang-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20%;

}
.footer-lang{
    gap:1%;
    height: 108px;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-lang-right{
    display: flex;
    gap:5%
}
.lang-box{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 110px;
    border:0.5px solid rgb(158, 153, 153);
    border-radius: 3px;
    cursor: pointer;
}
.amazon-logo{
    height: 68px;
    width: 200px;
}
.lang-option{
    background-color: #232F3E;
    color: white;
    border: none;
    cursor: pointer;
}
.gloab{
    color: white;
}
.amazon-logo img{
    height: 100%;
    width: 100%;
}
.india{
    flex-direction: column;
    margin-bottom: 15px;
    border:0.5px solid rgb(158, 153, 153);
    height: 34px;
    width: 80px;
    border-radius: 3px;
}
.flag{
    cursor: pointer;
    padding: 5px;
    gap:5%;
    display: flex;
    align-items: center;
    justify-self: center;
}
.flag p{
    color: white;
    font-size: 13px;
}
.flag img{
    height: 20px;
    width: 20px;
}
.footer-links{
    height: 190px;
    background-color: #131A22;
}
.footer-end{
    height: 60px;
    background-color: #131A22;
}

.footer-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.footer-desc-content{
    margin-top: -100px;
    display: flex;
    align-items:first baseline;
    justify-content: space-between;
    gap:12%;
}
.footer-desc h2{
    font-size: 16px;
    font-weight: bold;
    color:white;
}
.all-links a{
    font-size: 13.5px;
    color:white;
}
.all-links a:hover{
    text-decoration: underline;
}
.all-links{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:11px;
}
.head{
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
}
.desc1{
    height: 300px;
    width: 180px;
    display: flex;
}
.desc2{
    height: 300px;
    width: 180px;
    display: flex;

}
.desc3{
    height: 300px;
    width: 280px;
    display: flex;

}
.desc4{
    height: 300px;
    width:  300px;
    display: flex;
}

.footer-links{
    margin-left: -200px;
    display: flex;
    justify-content: flex-start;
}
.footer-link-contents {

    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    gap: 20px; /* Adds spacing */
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.footer-link-contents div {
    min-width: 150px;
}

.footer-link-contents a {
    text-decoration: none;
    color: #999797;
    font-size: 10px;
}

.footer-link-contents .heading {
    font-size: 12px;
    color: white;
    display: block;
    margin-bottom: 2px;
}

.footer-link-contents a:hover {
    text-decoration: underline;
}
.footer-end{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(183, 181, 181);
    font-size: 12px;
    font-weight: bold;
}
.condition {
    height: 30px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3%;
}
.year{
    width: 350;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

